.form-wrap input[type="submit"], .form-wrap input[type="button"] {
    margin-top: 12px;
    margin-right: 7px;
}
.form-wrap input[type="text"]{
    float: none;
}
.form-wrap {
    background: #eee;
    width: 100%;
    border: 0.5px solid;
}
.button-group{
    text-align: center;
    height: 34px;
    padding-top: 11px;
    background-color: #CCCCCC;
    margin: 2px;
}
.background-border{
    background: #969696;
    border: 1px solid;
    font-size: 15px;
    font-style: normal;
    margin: 2px;
}
.h3{
    margin-left:auto;
}

.border{
    border: 1px solid;
    width: 28%;
}
.margin-left{
    margin-left: 20px;
}